
/*.carouselExampleIndicators{
  list-style: circle;
}*/

.testimony{
  text-align: center;
  margin-top: 6em;
  margin-bottom: 2em;
}

.imgTurist{
  text-align: center;
}
.img-turist1{
   width: 580px;
}
